@{ ViewData["Title"] = "Log Out"; }

<h3>Are you sure you want to Log Out?</h3>
<form method="post" asp-controller="Account" asp-action="LogOut">
    <button type="submit" class="btn btn-outline-primary">
        Log Out
    </button>
</form>